.root-wrapper > header{
  background-color: #734b0f;
  color: white
} 

.wrapper {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.children {
  display: flex;
  flex-direction: column;
}

.child {
  margin: 30px;
}