.wrapper-level0 > header{
  background-color: #734b0f;
  color: white

} 

.wrapper-level1 {
  background-color: rgb(0, 255, 8);
}

.wrapper-level2 {
  background-color: green;
  color: white
}

.wrapper-level3 {
  background-color: rgb(1, 200, 91);
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.children {
  display: flex;
  flex-direction: column;
}

.child {
  margin: 30px;
}

.children-left > .child > .bar {
  text-align: end;
}

.arrow, .bar {
  text-wrap: nowrap;
  color: 	#734b0f;
}

.description {
  max-width: 200px;
}