.root-wrapper > header{
  background-color: #734b0f;
  color: white
} 

.wrapper {
  display: flex;
  flex-direction: row;
}

.children {
  display: flex;
  flex-direction: column;
}

.child {
  margin: 30px;
}

.children-left > .child > .bar {
  text-align: end;
}

.arrow, .bar {
  text-wrap: nowrap;
  color: 	#734b0f;
}

.description {
  max-width: 200px;
}